<div class="swiper-container">
  <a href="#" class="swiper-control left visible-lg">
    <i class="arrow-left icon-angle-left"></i> 
  </a>
  <a href="#" class="swiper-control right visible-lg">
    <i class="arrow-right icon-angle-right"></i>
  </a>
  <div class="swiper-wrapper">
      <!--First Slide-->
      <div class="swiper-slide bg-funky "> 
        <!-- Any HTML content of the first slide goes here -->
        <h1 class="swiper-header">Header 1</h1>
        <p class="swiper-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" class="btn btn-alpha btn-large">Call to action</a>
      </div>
      <div class="swiper-slide bg-primary"> 
        <!-- Any HTML content of the first slide goes here -->
        <h1 class="swiper-header">Header 1</h1>
        <p class="swiper-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" class="btn btn-funky btn-alpha btn-large">Call to action</a>
      </div>
      <div class="swiper-slide bg-danger"> 
        <!-- Any HTML content of the first slide goes here -->
        <h1 class="swiper-header">Header 1</h1>
        <p class="swiper-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" class="btn btn-danger btn-alpha btn-large">Call to action</a>
      </div>
      
      <div class="swiper-pagination"></div>
          <!--Etc..-->
      </div>
</div>

<div class="container-center">
    <div class="row">
       <div class="col-4 step">
         <h2>Header</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <a href="#" class="btn btn-large btn-info">Read more</a>
       </div>
       <div class="col-4 step">
         <h2>Header</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <a href="#" class="btn btn-large btn-info">Read more</a>
       </div>
       <div class="col-4 step">
         <h2>Header</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <a href="#" class="btn btn-large btn-info">Read more</a>
       </div>
    </div>
    <div class="row">
       <div class="col-4 step">
         <h2>Header</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <a href="#" class="btn btn-large btn-info">Read more</a>
       </div>
       <div class="col-4 step">
         <h2>Header</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <a href="#" class="btn btn-large btn-info">Read more</a>
       </div>
    </div>
  </div>