<div class="col-9" >
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><a href="../views/inventario_edit.php"> <i class="icon-wrench"> </i></a></td>
        <td><i class="icon-trash"></i></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
       <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
       <tr>
       <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Product </td>
        <td>Product description</td>
        <td><i class="icon-wrench"></i></td>
        <td><i class="icon-trash"></i></td>
      </tr>
    </tbody>
</table>
</div>