<div class="row">
  <div class="col-9">
    <h2>Edit Product</h2>
<form>
    <div class="form-fields">
      <label for="name">Name:</label>
      <input type="name" class="input-block" id="name">
    </div>
    <div class="form-fields">
      <label for="password">Description:</label>
      <textarea class="input-block" rows="4"></textarea>
    </div>
    <div class="form-fields">
      <label for="date">Date:</label>
      <input type="text" data-datepicker />
    </div>
    <div class="checkbox-fields">
      <label for="check">
        <input type="checkbox" id="check">New product
      </label>
    </div>
    <div class="form-fields">
      <label for="select">Category</label>
      <select>
        <option>Self</option>
        <option>Category 2</option>
        <option>Category</option>
        <option>Category</option>
      </select>
    </div>
    <input type="submit">
  </form>
</div>
 </div> 