<div class="panel-content">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner docs-navbar-inner">
    <div class="container">
      <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
      <div class="nav-collapse collapse">
        <nav id="menu">
          <ul class="nav docs-navbar-menu">
            <li><a class="brand" href="index.html">BGX</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Productos<b class="caret bottom-up"></b></a>
              <ul class="dropdown-menu bottom-up pull-right">
                <li><a href="#">Inventario</a></li>
                <li><a href="#">Cotizaciones</a></li>
                <li><a href="#">Cobros</a></li>
              </ul>
            </li>
            <li class=""><a href="#">Clientes</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<b class="caret bottom-up"></b></a>
              <ul class="dropdown-menu bottom-up pull-right">
                <li><a href="#">Cancelaciones</a></li>
                <li><a href="#">Gastos</a></li>
                <li><a href="#">Cobros</a></li>
              </ul>
            </li>
          </ul>
          <form action="" method="get" accept-charset="utf-8" class="navbar-form pull-right search-navbar-form">
            <div class="form-fields">
              <input type="text" name="" id="" value="" placeholder="Search" class="">
            </div>
            <input type="submit" name="" id="" value="Search" class="btn btn-info">
          </form>
        </nav>
      </div>
    </div>
  </div>
</div>